.cuadrado{
	width: 75px;
	height: 75px;
	color: red;
}

.blanco{
	background-color: white;
}

.negro{
	background-color: black;
}

.columna{
	float: left;
}

#container {
	position: relative;
	top: 20px;
	left: 83px;
	float: left;
	border: solid 1px;
}

.hidden_mouse {
	cursor: url("images/blank.cur"), none;
}

#torre{

}

#alfil{
}

#caballo{
}

#reina{
}

.ficha{
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.negra{
	color: #b13537;
}


.blanca{
	color: #477c82;
}

.img-ficha {
	width: 50px;
	height: 50px;
	position: relative;
	top: 12px;
	right: 5px;
}

.torre_cursor{
	cursor: none;
	width: 30px;
	height: 30px;     
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 10000;
	background: url("images/torre-negra.png") no-repeat left top;
}

.alfil_cursor{
	cursor: none;
	width: 30px;
	height: 30px;     
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 10000;
	background: url("images/alfil-negro.png") no-repeat left top;
}

.caballo_cursor{
	cursor: none;
	width: 30px;
	height: 30px;     
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 10000;
	background: url("images/caballo-blanco.png") no-repeat left top;
}

.reina_cursor{
	cursor: none;
	width: 30px;
	height: 30px;     
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 10000;
	background: url("images/reina-blanca.png") no-repeat left top;
}


@media only screen and (min-width: 200px) and (max-width: 1125px) {

    #container {
	 float: left;
	border: solid 1px;
	margin-top: 120px;
	margin-left: -197px;
    }

    .inputMessage {
    border: 10px solid #000;
bottom: 0;
height: 60px;
left: 0;
outline: none;
padding-left: 10px;
position: absolute;
right: 0;
left: 41px;
top: 744px;
width: 600px;
    }

    .messages {
  font-size: 150%;
  height: auto;
width: 602px;
margin: 0;
overflow-y: scroll;
padding: 10px 20px 10px 20px;
border: solid;
border-radius: 6px;
position: relative;
top: 82px;
left: 40px;
  }

}